.imagem-topo {
    padding-left: 40%;
    width: 20%;
}

ul{
    text-align: center;
}

li {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial Black;
    margin: 0 20px;
}
li:hover{
    color: darkturquoise;
}

a {
    text-decoration: none;
    color: black;    
}
a:hover {
    color: darkturquoise;
}

.titulo { 
    font-size: 30px;
    text-align: center;
    padding: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.9);
    margin-left: 460px;
    margin-right: 420px;
    margin-top: 70px;
}

div img {
    width: 59%;
    height: 300px;
    margin-left: 300px;
    border: 2px solid black;
}

h4 {
    text-align: center;
    font-size: 18px;
    color: black;
}

.texto {
    font-size: 15px;
    text-align: center; 
    color: black;
}

.link {
    font-weight: bold;
}

.bloco-de-rodape {
    background-color: #000;
	color: #F2FFFC;
	width: 100%;
    height: 100px;
    position: relative;
}

.texto-rodape {
    position: absolute;
    margin-left: 90px;
    margin-top: 25px;
    font-size: 20px;
}

div p {
    color: white;
}

.link-twitter {
    margin-left: 800px;
    width: 40px;
    height: 40px;
    border: 3px solid #dbdbdb;
    margin-top: 30px;
}

.link-facebook{
    margin-left: 900px;
    border-radius: 1px;
     width: 42px;
    height: 44px;
    margin-top: 30px;
}

.link-gmail {
    margin-left: 1000px;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    border: 2px solid #dbdbdb;
}

.link-pinterest {
    margin-top: 30px;
    margin-left: 1100px;
    width: 40px;
    height: 40px;
    border: 3px solid #dbdbdb;
}

.redes-sociais {
    position: absolute;
}
