.imagem-topo {
    padding-left: 40%;
    width: 20%;
}

ul{
    text-align: center;
}

li {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial Black;
    margin: 0 20px;
}
li:hover{
    color: darkturquoise;
}

a {
    text-decoration: none;
    color: black;    
}
a:hover {
    color: darkturquoise;
}

.titulo {
    font-size: 30px;
    text-align: center;
    padding: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.9);
    margin-left: 460px;
    margin-right: 420px;
    margin-top: 70px;
}

div img {
    width: 21%;
    height: 275px;
    margin-left: 252px;
    margin-top: 29px;
    border: 2px solid black;
}

.imagens {
    opacity: 0.5;
}
.imagens:hover {
    opacity: 1;
    transition: opacity 1s;
} 

div {
    display: inline;
    margin-left: -4px;
}

.bloco {
    display: inline-block;
    border: 2px solid black;
    height: 274px;
    width: 575px;
    color: black;
}

.subtitulo {
    margin-top: 255px;
    position: relative;
    top: -219px;
    margin-left: 123px;   
}

.texto {    
    position: absolute;
    margin-top: -195px;
    margin-left: 41px;
    text-align: center;
}

.botao {
    cursor: pointer;
    display: inline-block;
    top: -104px;
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 1.0);
    padding: 17px 22px 33px;
    width: 153px;
    height: 20px; 
    position: relative;
    margin-left: 750px;
}
.botao:hover {
    background: white;
    border: 2px solid black;
    color: black;
}

.bloco-de-rodape {
    background-color: #000;
    height: 100px;
}

.texto-rodape {
    color: white;
    position: absolute;
    margin-left: 90px;
    margin-top: 25px;
    font-size: 20px;
}
 
.imagem-redes-sociais {
    width: 40px;
    height: 40px;
    border: 3px solid #dbdbdb;
    cursor: pointer;
    margin-top: 30px;
}

.link-twitter {
    position: absolute;
    margin-left: 713px;
}
.link-facebook {
    position: absolute;
    margin-left: 811px;
}
.link-gmail {
    position: absolute;
    margin-left: 905px;
}
.link-pinterest {
    position: absolute;
    margin-left: 998px;
}
