.imagem-topo {
    padding-left: 40%;
    width: 20%;
}

ul{
    text-align: center;
}

li {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial Black;
    margin: 0 20px;
}
li:hover{
    color: darkturquoise;
}

a {
    text-decoration: none;
    color: black;    
}
a:hover {
    color: darkturquoise;
}

.titulo {
    font-size: 30px;
    text-align: center;
    padding: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.9);
    margin-left: 460px;
    margin-right: 420px;
    margin-top: 70px;
}

.imagens {
    opacity: 0.5;
    width: 21%;
    height: 275px;
    margin-left: 252px;
    margin-top: 29px;
    border: 2px solid black;
}
.imagens:hover {
    opacity: 1;
    transition: opacity 1s;
} 

div {
    display: inline;
    margin-left: -4px;
}

.bloco {
    display: inline-block;
    border: 2px solid black;
    height: 274px;
    width: 575px;
    color: black;
}

.subtitulo {
    margin-top: 255px;
    position: relative;
    top: -219px;
    margin-left: 123px;   
}

.texto {    
    position: absolute;
    margin-top: -195px;
    margin-left: 41px;
    text-align: center;
}

.botao {
    cursor: pointer;
    display: inline-block;
    top: -104px;
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 1.0);
    padding: 17px 22px 33px;
    width: 153px;
    height: 20px; 
    position: relative;
    margin-left: 750px;
}
.botao:hover {
    background: white;
    border: 2px solid black;
    color: black;
}
.bloco-de-rodape {
    background-color: #000;
    height: 100px;
}

.texto-rodape { 
    color: white;
    position: absolute;
    margin-left: 90px;
    margin-top: 25px;
    font-size: 20px;
}
 
.imagem-redes-sociais {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border: 3px solid #dbdbdb;
    margin-top: 30px;
    cursor: pointer;
    margin-top: 30px;
}

.background {
    width: 40px;
    height: 40px;
    background-size: 40px;
    border: 3px solid #dbdbdb;
    margin-top: 30px;
    cursor: pointer;
}

.link-twitter { 
    background-image: url(http://www.maisons-elan.com/images/reseaux-sociaux/twitter-noir.png);
    margin-left: 800px;
}
.link-twitter:hover {
    background-image: url(https://image.freepik.com/icones-gratis/sociais-twitter-passaro-simbolo_318-27588.jpg);
    margin-left: 800px;
}

.link-facebook {
    background-image: url(https://image.freepik.com/icones-gratis/logotipo-facebook-com-cantos-arredondados_318-9850.jpg);
    margin-left: 904px;
}
.link-facebook:hover {
    background-image: url(https://image.freepik.com/free-icon/facebook-letter-logo_318-40258.jpg);
    margin-left: 904px;
}

.link-gmail {
    background-image: url(https://image.freepik.com/icones-gratis/google-plus-logotipo_318-40866.png);
    margin-left: 1000px;
}
.link-gmail:hover {
    background-image: url(http://img.freepik.com/free-icon/google-plus-logo_318-76532.jpg?size=338c&ext=jpg);
    margin-left: 1000px;
}

.link-pinterest {
    background-image: url(http://img.freepik.com/icones-gratis/pinterest-logotipo-sociais_318-65326.jpg?size=338&ext=jpg);
    margin-left: 1100px; 
}
.link-pinterest:hover {
    background-image: url(https://image.freepik.com/free-icon/pinterest-letter-logo-variant_318-53062.jpg);
    margin-left: 1100px;
}