.imagem-topo {
    padding-left: 40%;
    width: 20%;
}

ul{
    text-align: center;
}  

li {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial Black;
    margin: 0 20px;
}
li:hover{
    color: darkturquoise;
}

a {
    text-decoration: none;
    color: black;    
}
a:hover {
    color: darkturquoise;
}

.titulo {
    font-size: 30px;
    text-align: center;
    padding: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.9);
    margin-left: 460px;
    margin-right: 420px;
    margin-top: 70px;
}

form {        
    text-align: center;
    margin-top: 11px;
}
 
.campo { 
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 670px;
    height: 34px;
    margin-top: 20px;
    margin-left: 57px;
}

.botao {
    cursor: pointer;
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 1.0);
    padding: 26px 27px 22px;
    margin: 15px 15px 15px 69px;
}
.botao:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.bloco-de-rodape {
    background-color: #000;
    height: 100px;
}

.texto-rodape { 
    color: white;
    position: absolute;
    margin-left: 90px;
    margin-top: 25px;
    font-size: 20px;
}
 
.imagem-redes-sociais {
    width: 40px;
    height: 40px;
    border: 3px solid #dbdbdb;
    cursor: pointer;
    margin-top: 30px;
}

.link-twitter { 
    position: absolute;
    margin-left: 800px;
}
.link-facebook {
    position: absolute;
    margin-left: 904px;
}
.link-gmail {
    position: absolute;
    margin-left: 1000px;
}
.link-pinterest {
    position: absolute;
    margin-left: 1100px;
}
