.imagem-topo {
    padding-left: 40%;
    width: 20%;
}

ul{
    text-align: center;
}

a {
    text-decoration: none;
    color: black;    
}

a:hover {
    color: darkturquoise;
}

li {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial Black;
    margin: 0 20px;
}

li:hover{
    color: darkturquoise;
}

.imagem-central {
    width: 100%;
    height: 590px;
}

.centro-da-pagina {
    position: relative;
}

.titulo {
    font-size: 20px;
    top: 80px;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    padding: 23px 27px 20px;
    margin-top: -25px;
}

h2 {
    position: absolute;
    top: 200px;
    left: 820px;
    color: white;
    font-size: 10px;
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 12px 27px;
    position: absolute;
    left: 820px;
    color: white;
}

.linha-1 {
    top: 164px;
    font-size: 23px;
}
.linha-2 {    
    top: 231px;
    font-size: 19.5px;
}
.linha-3 {
    top: 296px;
}

.botao {
    cursor: pointer;
    border: none;
    position: absolute;
    margin-left: 826px;
    top: 400px;
    color: white;
    font-family: Courier New, Courier, sans-serif;
    font-size: 20px;
    background: rgba(50, 205, 153, 1.0);
    padding: 26px 27px 22px;
}

.botao:hover {
    background: aqua;
}
.bloco-imagens {
    text-align: center;
}
.abraco-imagens {
    display: inline-block;
    padding: 20px;
}
.borda-tres-imagens {
    border: 4px solid #1a1a1a;
    display: inline-block;
    width: 280px;
    height: 260px;
}
.tres-imagens {
    width: 280px;
    height: 260px;
    filter: grayscale(100%);
    opacity: 0.5;
}
.tres-imagens:hover {
    opacity: 1;
    transition: opacity 1s;
}

figcaption{
    font-size: 19px;
    text-align: center;
    padding: 20px;
    color: black;
}

.bloco-de-rodape {
    background-color: #000;
    height: 100px;
}

.texto-rodape { 
    color: white;
    position: absolute;
    margin-left: 90px;
    margin-top: 25px;
    font-size: 20px;
}
 
.imagem-redes-sociais {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border: 3px solid #dbdbdb;
    margin-top: 30px;
    cursor: pointer;
    margin-top: 30px;
}

.background {
    width: 40px;
    height: 40px;
    background-size: 40px;
    border: 3px solid #dbdbdb;
    margin-top: 30px;
    cursor: pointer;
}

.link-twitter { 
    background-image: url(http://www.maisons-elan.com/images/reseaux-sociaux/twitter-noir.png);
    margin-left: 800px;
}
.link-twitter:hover {
    background-image: url(https://image.freepik.com/icones-gratis/sociais-twitter-passaro-simbolo_318-27588.jpg);
    margin-left: 800px;
}

.link-facebook {
    background-image: url(https://image.freepik.com/icones-gratis/logotipo-facebook-com-cantos-arredondados_318-9850.jpg);
    margin-left: 904px;
}
.link-facebook:hover {
    background-image: url(https://image.freepik.com/free-icon/facebook-letter-logo_318-40258.jpg);
    margin-left: 904px;
}

.link-gmail {
    background-image: url(https://image.freepik.com/icones-gratis/google-plus-logotipo_318-40866.png);
    margin-left: 1000px;
}
.link-gmail:hover {
    background-image: url(http://img.freepik.com/free-icon/google-plus-logo_318-76532.jpg?size=338c&ext=jpg);
    margin-left: 1000px;
}

.link-pinterest {
    background-image: url(http://img.freepik.com/icones-gratis/pinterest-logotipo-sociais_318-65326.jpg?size=338&ext=jpg);
    margin-left: 1100px; 
}
.link-pinterest:hover {
    background-image: url(https://image.freepik.com/free-icon/pinterest-letter-logo-variant_318-53062.jpg);
    margin-left: 1100px;
}