.imagem-topo {
    padding-left: 40%;
    width: 20%;
}

ul{
    text-align: center;
}

li {
    display: inline-block;
    font-size: 15px;
    font-family: Arial Black;
    margin: 0 20px;
}

li:hover{
    color: darkturquoise;
}

.imagem-meio {
    width: 100%;
    height: 590px;
}

div h2 {
    position: absolute;
    top: 200px;
    left: 820px;
    color: white;
    font-size: 10px;
}

.linha-titulo {
    font-size: 20px;
    top: 80px;
}

.linha-1 {
    top: 200px;
}

.linha-2 {
    top: 260px;
}

.linha-3 {
    top: 320px;
}

.linha-rodape {
    font-size: 10px;
    top: 400px;
}

h2 strong {
    color: black;
    font-family: Courier New, Courier, monospace;
    background: rgba(255, 255, 255, 1.0);
    padding: 23px 27px 20px;
}

h2 span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 12px 27px;
}

h2 em {
    color: white;
    font-family: Courier New, Courier, sans-serif;
    font-size: 20px;
    background: rgba(50, 205, 153, 1.0);
    padding: 26px 27px 22px;
}

h2 em:hover {
    background: aqua;
}

.fotos {
    position: relative;
}

.borda-tres-imagens {
    border: 4px solid #1a1a1a;
    display: inline-block;
    width: 280px;
    height: 260px;
}

.tres-imagens {
    width: 280px;
    height: 260px;
    filter: grayscale(100%);
    opacity: 0.5;

}

.tres-imagens:hover {
    opacity: 1;
    transition: opacity 1s;
}

.abraco-imagens {
    display: inline-block;
    padding: 20px;
    margin-right: -17%;
    margin-left: 16%;
}

figcaption{
    font-size: 19px;
    text-align: center;
    padding: 20px;
}

.bloco-de-rodape {
    background-color: #000;
	color: #F2FFFC;
	width: 100%;
    height: 100px;
    position: relative;
}

.texto-rodape {
    position: absolute;
    margin-left: 90px;
    margin-top: 25px;
    font-size: 20px;
}

.link-twitter {
    margin-left: 800px;
    width: 40px;
    height: 40px;
    border: 3px solid #dbdbdb;
    margin-top: 30px;
}

.link-facebook{
    margin-left: 900px;
    border-radius: 1px;
     width: 42px;
    height: 44px;
    margin-top: 30px;
}

.link-gmail {
    margin-left: 1000px;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    border: 2px solid #dbdbdb;

}

.link-pinterest {
    margin-top: 30px;
    margin-left: 1100px;
    width: 40px;
    height: 40px;
    border: 3px solid #dbdbdb;
}

.redes-sociais {
    position: absolute;
}



